---
---

@import "{{ site.theme }}";

/*@import url(normalize.css);*/


/*
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: normal;
    color: #222;
    margin: 20px;
}

header {
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

header h1,
header h2 {
    display: inline;
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    color: #a6a6a6;
}

header h1 {}

header h2 {
    float: right;
}*/

.page-header {
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
